@import "variables/variables";

.myJobsBlock {
  background-color: $bgColor2;

  .myJobsContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;

    .jobs {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      font-family: $fontThree;
      font-size: 25px;
      align-items: flex-start;
      @media screen and (max-width: 624px) {
        justify-content: center;
      }
    }
  }
}





