@import "variables/variables";

.nav {
  border: solid 1px $bgColor1;
  width: 550px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 17px;
  padding: 5px;
  .item {
    color: $textColor;
    text-decoration: none;
    font-family: $fontRoot
  }

  .item:hover {
    color: $primaryColor;
  }
  .active {
    color: $primaryColor;
    text-decoration: none;
    font-family: $fontRoot;

  }
}
