.skill {
    width: 250px;
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.icon {
    width: 80px;
    height: 80px;
    background-color: antiquewhite;
}

.skillDescription {
    border: black 1px solid;
    font-family: 'Gotham Pro Medium Italic', sans-serif;
    font-size: 16px;
}


@font-face {
    font-family: 'Gotham Pro Medium Italic';
    src: url('../../assets/fonts/GothamPro/GothamPro-MediumItalic.eot');
    src: url('../../assets/fonts/GothamPro/GothamPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/GothamPro/GothamPro-MediumItalic.woff') format('woff'),
    url('../../assets/fonts/GothamPro/GothamPro-MediumItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}