@import "../../common/styles/sass/variables";

.skill {
  width: 250px;
  background-color: $bgColor2;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin:  20px ;

  .icon {
    width: 80px;
    height: 80px;
    background-color: $primaryColor;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 10px;
  }

  .skillDescription {
    border: $bgColor1 1px solid;
    font-family: $fontFour;
    font-size: 20px;
    color: $textColor;
  }
}