@import "../../common/styles/sass/variables";

.job {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .icon {
    height: 300px;
    align-items: center;
    justify-content: center;
    position: relative;
    color: $textColor;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &::before {
      position: absolute;
      content: "";
      background-color: $bgColor1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0.2;
    }

    .button {
      cursor: pointer;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $bgColor2;
      color: $textColor;
      font-size: 16px;
      padding: 12px 24px;
      border: none;
      border-radius: 5px;
      z-index: 1;
    }

    .button:hover {
      background-color: $primaryColor;
    }
  }

  .jobsTitle {
    color: $primaryColor;
  }

  .jobDescription {
    margin: 0 25px 0 25px;
    color: $textColor;
    opacity: 50%;
    font-family: 'Sochi2014-Medium', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
  }
}

@font-face {
  font-family: 'Sochi2014-Medium';
  src: url('../../assets/fonts/Sochi2014/Sochi2014-Medium.eot'),
  url('../../assets/fonts/Sochi2014/Sochi2014-Medium.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/Sochi2014/Sochi2014-Medium.woff') format('woff'),
  url('../../assets/fonts/Sochi2014/Sochi2014-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}