@import "../common/styles/sass/variables";

.skillsBlock {
  background-color: $bgColor1;
  min-height: 78vh;
  .skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
    .skills {
      border: 1px $bgColor1 solid;
      color: $primaryColor;
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @media screen and (max-width: 624px) {
        justify-content: center;
      }
    }
  }
}