.skillsBlock {
    height: 100vh;
    background-color: cornflowerblue;
}
.skillsContainer {
    flex-direction: column;
    justify-content:flex-start;
}
.skills {
    border: 1px #282c34 solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.title {
    background-color: darkgray;
}
