.myJobsBlock {
    background-color: #343a40;
}

.myJobsContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.title {
    margin-bottom: 30px;
}
.title h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    text-transform: capitalize;
    color: white;
}

.jobs {
    border: 1px #282c34 solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 624px){
    .jobs {
        justify-content: center;
    }
}