.myJobsBlock {
    background-color: #343a40;
}

.myJobsContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.jobs {
    border: 1px #282c34 solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    align-items: flex-start;
}

@media screen and (max-width: 624px) {
    .jobs {
        justify-content: center;
    }
}