@import "../common/styles/sass/variables";

.block {
  height: 30vh;
  background-color: $bgColor1;

  .DJContainer {
    flex-direction: column;
    justify-content: space-between;
    position: relative;


    .title {
      font-family: $fontSecond;
      color: $textColor;
      font-size: 30px;
      letter-spacing: 4px;
    }

    .btn {
      position: absolute;
      cursor: pointer;
      background-color: $bgColor2;
      color: $textColor;
      font-size: 16px;
      border: 1px solid $primaryColor;
      border-radius: 5px;
      align-self: auto;
      padding: 12px 24px;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .btn:hover {
      background-color: $primaryColor;
    }
  }
}