.block {
    height: 30vh;
    background-color: #212529;
}

.DJContainer {
    flex-direction: column;
    justify-content: center;
}

.title {
    background-color: #aaa7a7;
}

.btn {
    cursor: pointer;
    background-color: #555;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    align-self: auto;
}
