.block {
    height: 30vh;
    background-color: #212529;
}

.DJContainer {
    flex-direction: column;
    justify-content: center;
}

.title {
    font-family: 'Sochi2014 Bold', sans-serif;
    color: white;
    font-size: 30px;
    letter-spacing: 4px;
}

.btn {
    cursor: pointer;
    background-color: #555;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    align-self: auto;
}

@font-face {
    font-family: 'Sochi2014 Bold';
    src: url('../assets/fonts/Sochi2014/Sochi2014-Bold.eot');
    src: local('../common/fonts/Sochi2014 Bold'),
    url('../assets/fonts/Sochi2014/Sochi2014-Bold.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Sochi2014/Sochi2014-Bold.woff') format('woff'),
    url('../assets/fonts/Sochi2014/Sochi2014-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}