.nav {
    border: solid 1px #282c34;
    width: 300px;
    display: flex;
    justify-content: space-between;

}
.item {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Gotham Pro Regular', sans-serif
}

@font-face {
    font-family: 'Gotham Pro Regular';
    src: url('../assets/fonts/GothamPro/GothamPro.eot');
    src: url('../assets/fonts/GothamPro/GothamPro.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/GothamPro/GothamPro-Medium.woff') format('woff'),
    url('../assets/fonts/GothamPro/GothamPro-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}