@import "../common/styles/sass/variables";

.nav {
  border: solid 1px $bgColor1;
  width: 500px;
  display: flex;
  justify-content: space-between;

  .item {
    color: $textColor;
    text-decoration: none;
    font-family: $fontRoot
  }

  .item:hover {
    color: $primaryColor;
  }
  .active {
    color: $primaryColor;
    text-decoration: none;
    font-family: $fontRoot
  }
}
