@import "../common/styles/sass/variables";

.footerBlock {
  background-color: $bgColor1;
  height: 15vh;

  .footerContainer {
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    .title {
      color: $textColor;
      font-size: 14px;

    }

    .footer {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      background-color: $bgColor1;
      color: $primaryColor;
      width: 30%;
      height: 40px;
      flex-direction: row;
      justify-content: space-between;

      & a {
        text-decoration: none;
        color: $primaryColor;
        cursor: pointer;
      }

    }

    .end {
      margin-top: 20px;
      background-color: $bgColor2;
      font-size: 14px;
      font-weight: bold;
      color: $textColor;
    }
  }
}